@font-face {
    font-family: 'the_voyage_culturescript';
    src: url('./fonts/the_voyage_culture_script-webfont.woff2') format('woff2'),
        url('./fonts/the_voyage_culture_script-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
:root {
    --primary-color: #1e511d;
    --secondary-color: #f9f3f3;
    --tertiary-color: #f9f3f3;
    --quaternary-color: #222222;
}
/* COMMON CLASS */
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.header {
    position: absolute;
    top: 0;
    width: 100%;
}

@media (min-width: 992px) {
    .navbar-nav {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}

body {
    font-family: 'Poppins', sans-serif;
}
.banner {
    max-width: 80%;
    margin: auto;
}
.banner__title {
    font-size: 72px;
    font-weight: 600;
    text-transform: uppercase;
}
.banner__subtitle {
    font-family: 'the_voyage_culturescript', sans-serif;
    font-size: 60px;
    color: #fff;
    margin-top: 74px;
    margin-left: 120px;
}
.banner-wrapper {
    background-image: url('./images/banner.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-shadow: 2px 2px 2px #000;
}
.search-wrapper {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}
/* HEADER SECTION */
.section-header {
    padding: 30px 0px;
}
.section-header__title {
    font-size: 60px;
    color: var(--primary-color);
    font-weight: 700;
    margin-top: -3px;
    letter-spacing: 0.3px;
}
.section-header__subtitle {
    font-size: 30px;
    font-weight: 700;
    color: var(--primary-color);
    margin-bottom: 0;
}

/* FEATURE CATEGORIES */
.feature-categories {
    background: url('./images/banner2.jpg') no-repeat top center/cover;
    margin-bottom: 83px;
    padding-top: 40px;
}
.feature-category-item {
    position: relative;
    overflow: hidden;
    border-radius: 13px;
}
.feature-category-item:hover .post__content {
    background: rgba(60, 165, 58, 0.5);
}
.feature-category-item .post__content {
    transition: all 0.3s;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('./images/bg-rounded.png') no-repeat center/cover;
}
.thumbnail-wrapper {
    overflow: hidden;
}
.thumbnail-wrapper .post__thumbnail {
    transition: all 0.3s;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.thumbnail-zoom:hover .post__thumbnail {
    transform: scale(1.05);
}
.feature-category-item .post__title {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
}
.feature-category-item .post__link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
}
/* FAVORITE TOUR */
.favorite-tour {
    background: url('./images/banner3.jpg') no-repeat top center/cover;
}
/* TOUR */
.tour-item {
    border-radius: 20px;
    padding: 23px;
    border: 1px solid #eee;
    margin-bottom: 30px;
}
.tour-item .tour__title a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: var(--quaternary-color);
    margin-bottom: 10px;
}
.tour-item .tour__content {
    padding: 0;
    padding-top: 10px;
}
.tour-item .tour__meta label {
    font-size: 16px;
    color: var(--primary-color);
    font-weight: 600;
}
.tour-item .tour__destination {
    margin-bottom: 10px;
}
.tour-item .tour__duration {
    margin-bottom: 10px;
}
.tour-item .tour__excerpt {
    line-height: 22px;
}
.tour-item .tour__price {
    font-size: 20px;
    font-weight: 800;
    color: var(--primary-color);
}
.btn-outline-primary {
    padding: 13px 38px;
    border-radius: 20px;
    border-color: var(--primary-color);
    color: var(--primary-color);
    text-transform: uppercase;
    font-weight: bold;
}
.btn-outline-primary:hover {
    border-color: var(--primary-color);
    background: var(--primary-color);
    color: #fff;
}
/* TESTIMONIAL */
.testimonial-item {
    padding: 30px 0 0px 0;
    margin: auto;
    background: url(./images/bg-fb2.png) no-repeat top right;
    background-size: contain;
}
.testimonial-item__image {
    position: relative;
    -webkit-mask-image: url('./images/bg-fb-dup.png') center center;
    mask-image: url('./images/bg-fb-dup.png');
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-size: contain;
}
.testimonial-item__content {
    padding-top: 60px;
    font-size: 15px;
    padding-right: 20%;
    color: var(--quaternary-color);
    /* position: relative;
    background-color: #ccc;
    -webkit-mask-image: url('./images/bg-fb2.png') center center;
    mask-image: url('./images/bg-fb2.png');
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat; */
}

/* FOOTER */
footer {
    background: #222222;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.fixed {
    position: fixed;
    top: 0;
    width: 100%;
}
